// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.fabric-go {
  atom-panel:first-of-type {
    .inset-panel:first-of-type {
      line-height: 25px;
      .status-icon {
        margin: 0;
      }
      .status-text {
        margin-left: -5px;
      }
      button {
        float: right;
      }
    }
  }
}
.primary-line {
  display: block !important;
  .icon-x {
    cursor: pointer;
    float: right;
  }
}
.secondary-line {
  margin: 5px;
  white-space: normal;
  button {
    margin-bottom: 5px;
  }
}
